@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navy: 25, 28, 43;
    --light-blue: 2, 164, 255;
    --yellow: 255, 205, 71
}

body {
    color: rgb(var(--light-blue));
    background: rgb(var(--navy));
}
